<p class="language_svitch"><a href="cv_ua">UA</a>|<a href="/">EN</a></p>
<img src="https://shopcv.com/en/wp-content/uploads/sites/3/2017/08/KASSEL_3_EN.jpg" style="display: none">
<div class="sheet">
  <div class="left_part">

    <%= image_tag("profile.png", :alt => "avatar", :class => "profile", :width => "250", :height => "250") %>
    <div class="naming">
      <p id="name">ОЛЕСЬ</p>
      <p id="surname">СТАНКЕВИЧ</p>
      <p id="profesion">СТудент</p>
    </div>

    <div class="about">
      <p class="heder_for_box">ПРО МЕНЕ</p>
      <div id="about_me_txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>

    <div class="social">
      <p class="heder_for_box">СОЦІЯЛЬНІ МЕРЕЖІ</p>
      <div class="social_box">
        <div class="twit" >
          <<%= image_tag("2020-10-02_111623.jpg", :alt => "twiter ico", :class => "ico_social") %>
          <p>@twiter</p>
        </div>
        <div class="link">
          <%= image_tag("2020-10-02_111647.jpg", :alt => "link ico", :class => "ico_social") %>
          <p>/linkiden</p>
        </div>
      </div>
    </div>

    <div class="interests">
      <p class="heder_for_box">ХОББІ</p>
      <div id="intresting_box">
        <p class="list_hobbies" style="color: #b7cddb">Cinema</p>
        <p class="list_hobbies">Кіно</p>
        <p class="list_hobbies">Катання</p>
        <p class="list_hobbies">Плавання</p>
        <p class="list_hobbies">Ігри</p>
      </div>
    </div>

    <div class="contact">
      <p class="heder_for_box">КОНТАКТИ</p>
      <p class="contackt_info">Черкаси / 22-33-1515</p>
      <p class="contackt_info"> +380 (123) 45 67 891</p>
      <p class="contackt_info" style="font-weight: bold"> email@email.com</p>
    </div>

    <div class="FEEDBACK">
      <p class="heder_for_box">ЗВОРОТНІЙ ЗВЯЗОК</p>
      <div class="feedback_box">
        <input type="email" placeholder="Ваша пошта" id="email_form">
        <textarea class="feedback_txt" placeholder="Ваше питаня"></textarea>

        <button class="button" style="vertical-align:middle"><span>ВІДПРАВИТИ</span></button>
      </div>
    </div>

  </div>



  <div class="right_part">

    <div id="education" class="text_box">
      <div class="title">
        <%= image_tag("1.jpg", :alt => "education ico", :class => "inform_ico") %>
        <p>Н А В Ч А Н Н Я</p>
      </div>
      <p class="subtitle">Черкаська Школа І-ІІІ степенів №12</p>
      <p class="data_subtitle">Черкаси, 2008-2019</p>
      <p class="underline"></p>
      <p class="subtitle">Черкаський Державний Технологічний Університет</p>
      <p class="data_subtitle">Черкаси, 2019-сьогодні</p>

      <div class="text">

      </div>

    </div>

    <div id="experience" class="text_box">
      <div class="title">
        <%= image_tag("2.jpg", :alt => "experience ico", :class => "inform_ico") %>
        <p>Д О С В І Д</p>
      </div>

      <div class="text">
        <p class="subtitle">Заголовок роботи</p>
        <p class="data_subtitle">Черкаси, 2002-2003, </p>
        <p class="data_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
        <p class="underline"></p>
        <p class="subtitle">Заголовок роботи 2</p>
        <p class="data_subtitle">Черкаси, 2010-2011, </p>
        <p class="data_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
        <p class="underline"></p>
        <p class="subtitle">Заголовок роботи 3</p>
        <p class="data_subtitle">Черкаси, 2020-2020, </p>
        <p class="data_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>

      </div>

    </div>

    <div id="skill" class="text_box">
      <div class="title">
        <%= image_tag("3.jpg", :alt => "skill ico", :class => "inform_ico") %>
        <p>Н А В И Ч К И</p>
      </div>

      <div class="text"></div>
      <div class="skill_box">
        <div class="skill_line">
          <p class="skill_name">Компютерні науки</p>
          <div class="skill_graf"><div class="slider" style="margin-left: 25%"></div> </div>
        </div>

        <div class="skill_line">
          <p class="skill_name">Компютерні науки</p>
          <div class="skill_graf"><div class="slider" style="margin-left: 12%"></div> </div>
        </div>

        <div class="skill_line">
          <p class="skill_name">Рівень мотивації</p>
          <div class="skill_graf"><div class="slider" style="margin-left: 78%"></div> </div>
        </div>

        <div class="skill_line">
          <p class="skill_name">Природні науки</p>
          <div class="skill_graf"><div class="slider" style="margin-left: 53%"></div> </div>
        </div>

        <div class="skill_line">
          <p class="skill_name">Наука</p>
          <div class="skill_graf"><div class="slider" style="margin-left: 6%"></div> </div>
        </div>

      </div>

    </div>

    <div id="language" class="text_box">
      <div class="title">
        <%= image_tag("4.jpg", :alt => "lang ico", :class => "inform_ico") %>
        <p>М О В И</p>
      </div>
      <div class="language_box">
        <p class="name_lang">Англійська</p>
        <div class="level_box"><p class="level_point" style="margin-top: 45%"></div>
        <p class="name_lang">Українська</p>
        <div class="level_box"><p class="level_point" style="margin-top: 25%"></div>
        <p class="name_lang">Іспанська</p>
        <div class="level_box"><p class="level_point" style="margin-top: 80%"></div>
      </div>

    </div>

  </div>


</div>




</body>